spring:
  application:
    name: flash-mind-backend
  profiles:
    active: prod

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://flash_mind_db_user:nUY5gKopN0jxTc2mB44ZaDNHYnopCT7r@dpg-d4d2ts0gjchc73do1cs0-a.frankfurt-postgres.render.com/flash_mind_db}
    username: ${DB_USERNAME:flash_mind_db_user}
    password: ${DB_PASSWORD:nUY5gKopN0jxTc2mB44ZaDNHYnopCT7r}
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:flashmindquizz@gmail.com}
    password: ${EMAIL_PASSWORD:mfwf gwxc dvlc mims}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  email:
    verification:
      enabled: false
  base-url: ${APP_BASE_URL:http://localhost:8080}
  frontend-url: ${FRONTEND_URL:https://flashmindquiz.netlify.app}

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 86400000

cors:
  allowed:
    origins: ${CORS_ALLOWED_ORIGINS:https://flashmindquiz.netlify.app}

logging:
  level:
    com.flashmind: DEBUG
    org.springframework.security: DEBUG