spring:
  application:
    name: flash-mind-backend
  profiles:
    active: prod

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://dpg-d4d2ts0gjchc73do1cs0-a.frankfurt-postgres.render.com:5432/flash_mind_db?ssl=true&sslmode=require
    username: flash_mind_db_user
    password: nUY5gKopN0jxTc2mB44ZaDNHYnopCT7r
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: flashmindquizz@gmail.com
    password: mfwf gwxc dvlc mims
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  email:
    verification:
      enabled: false
  base-url: https://flash-mind-quiz-6.onrender.com
  frontend-url: https://flashmindquiz.netlify.app

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

cors:
  allowed:
    origins: https://flashmindquiz.netlify.app

logging:
  level:
    com.flashmind: DEBUG
    org.springframework.security: DEBUG